<div flex="100" layout="row" layout-align="none" class="full-height home-background">
    <div flex="65"></div>
    <div flex="30" layout="column">
        <div flex="30"></div>
        <div flex layout="row" layout-align="center stretch">
            <md-card layout="column" flex>
                <md-card-header>
                    <md-card-header-text layout-align="center center">
                        <span class="md-title title">Welcome to Tripulator!</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="row">
                    <div flex="15"></div>
                    <form layout="column" flex>
                        <md-input-container>
                            <input ng-model="user.username" placeholder="username">
                        </md-input-container>
                        <md-input-container>
                            <input type="password" ng-model="user.password" placeholder="password">
                        </md-input-container>
                    </form>
                    <div flex="15"></div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="space-around center" flex="10">
                    <md-button class="md-primary" ng-click="showRegister($event)" flex="50">Register</md-button>
                    <md-button class="md-primary" ng-click="logIn()" flex="50">Log in</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex="30"></div>
    </div>
    <div flex="5"></div>
</div>
