<div class="create" ng-cloak="">
    <a class="arrow prev" ng-show="showPrevArrow()" ng-click="prevPage()"></a>
    <a class="arrow next" ng-show="showNextArrow()" ng-click="nextPage($event)"></a>

    <div class="create-page-1" ng-if="showChart()">
        <h3 class="text-center">
            Please select all the countries you are visiting in your trip
        </h3>
        <div google-chart chart="chart" agc-on-ready="readyHandler(chartWrapper)"></div>
    </div>

    <div class="create-page-2" ng-if="optionScreen === 2">
        <h3 class="text-center">
            Please complete the following trip details
        </h3>
        <div ng-cloak="" layout="column">
            <div flex="" ng-repeat="country in getCountryData()"  layout-align="space-around center">
                <div class="create-page-2-spacing" layout-align="space-around center">
                    <md-toolbar layout="column" class="md-hue-3" flex-offset="10" flex="80">
                        <div class="md-toolbar-tools">
                            <span>{{country[0]}}</span>
                        </div>
                    </md-toolbar>

                    <md-content>
                        <md-list>
                            <md-list-item class="md-2-line" md-ink-ripple="#0F6D8C" flex-offset="10" flex="80" ng-repeat="city in tripDetails[country[0]]">
                                <div class="md-list-item-text" layout-fill layout="row" layout-align="space-between center">
                                    <i flex="5" class="material-icons" ng-click="deleteCity(city)">delete_forever</i>
                                    <md-input-container flex="45" layout="column" ng-hide="disableForm(city.city)">
                                        <input type="text" ng-model="newCity" required md-maxlength="30" placeholder="{{city.city}}">
                                    </md-input-container>
                                    <h3 flex="45" layout="column" ng-show="disableForm(city.city)">{{city.city}}</h3>
                                    <md-datepicker ng-model="arrivalDate" flex="25" md-placeholder="{{city.arrivalDate| date}}" ng-disabled="disableForm(city.city)">
                                    </md-datepicker>
                                    <md-datepicker ng-model="departureDate" flex="25" md-placeholder="{{city.departureDate| date}}" ng-disabled="disableForm(city.city)">    
                                    </md-datepicker>
                                    <i flex="5"  class="material-icons" ng-click="addCity(country[0], newCity, arrivalDate, departureDate); newCity = null; arrivalDate = null; departureDate = null;" ng-hide="disableForm(city.city)">check_circle</i>
                                    <i flex="5"  class="material-icons" ng-show="disableForm(city.city)">lock</i>

                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                    <md-divider flex-offset="5" flex="90"></md-divider>
                </div>
            </div>
        </div>
    </div>

</div>
